<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>log in</h1>
    <form  method="post">
      <p>
        <label>fullname</label> <br>
        <input type = "text" name="fullname" value="" placeholder="Ayn Rand">
      </p>
      <p>
      <label>email</label> <br>
      <input type = "text" name="email" value="" placeholder="atlasshrugged@gmail.com">
      </p>
      <p>
      <label>username</label> <br>
      <input type = "text" name="username" value="" placeholder="...">
      </p>
      <p>
      <label>password</label> <br>
      <input type = "password" name="password" value="" placeholder="...">
      </p>

      <input type="submit">
    </form>
  </body>
</html>
