<div class="container text-center">
  <h2 class="m-5">Chào mừng các bạn đã đến với Mùa đông không lạnh</h2>
  <p class="font-lobster m-5">"Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn"</p>
  <div class="row justify-content-around mt-20 mb-5 text-white">
    <div class="col-5">
      <img class="card-img-top h-100" src="/static/image/female.jpg">
      <div class="card-img-overlay m-3 d-flex justify-content-end align-items-center">
        <h5 class="card-title mr-2">Bạn là Nam</h5>
      </div>
    </div>
    <div class="col-5">
      <img class="card-img-top h-100" src="/static/image/male.jpg" alt="Card image">
      <div class="card-img-overlay m-3 d-flex justify-content-start align-items-center">
        <h5 class="card-title ml-2">Bạn là Nữ</h5>
      </div>
    </div>
  </div>
</div>
