
<div class=" d-flex justify-content-center mb-2">
  <h4>Các gói dịch vụ</h4>
</div>
  <div class="card-deck m-5">
  <div class="card">
    <div class="card-header text-white" style="background-color: lightgrey;"><h5>Gói cơ bản</h5></div>
    <div class="card-body">
      <p class="card-text"><b> Dẫn bạn về ra mắt</b></p>
      <p class="card-text"><b>Ăn cơm cùng gia đình</b></p>
      <p class="card-text">Không nắm tay hoặc tiếp xúc dưới bất kì hình thức nào</p>
      <p class="card-text">Bạn không phụ giúp gia đình công việc nấu nướng dọn dẹp</p>
    </div>
    <div class="card-footer d-flex justify-content-end">
    <a href="#" class="btn btn-dark"><i class="fas fa-heart"></i> Tìm hiểu thêm </a>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-secondary text-white"><h5>Gói tiêu chuẩn</h5></div>
    <div class="card-body">
      <p class="card-text"><b> Dẫn bạn về ra mắt</b></p>
      <p class="card-text"><b>Ăn cơm cùng gia đình</b></p>
      <p class="card-text"><b>Cho phép nắm tay thể hiện quan tâm</b></p>
      <p class="card-text">Bạn không phụ giúp gia đình công việc nấu nướng dọn dẹp</p>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <a href="#" class="btn btn-dark"><i class="fas fa-heart"></i> Tìm hiểu thêm </a>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-dark text-white"><h5>Gói cao cấp</h5></div>
    <div class="card-body">
      <p class="card-text"><b> Dẫn bạn về ra mắt</b></p>
      <p class="card-text"><b>Ăn cơm cùng gia đình</b></p>
      <p class="card-text"><b>Cho phép nắm tay thể hiện quan tâm</b></p>
      <p class="card-text"><b>Bạn sẽ phụ giúp gia đình công việc nấu nướng dọn dẹp</b></p>
    </div>
    <div class="card-footer d-flex justify-content-end ">
      <a href="#" class="btn btn-dark"><i class="fas fa-heart"></i> Tìm hiểu thêm </a>
    </div>
  </div>
</div>
